*{
    margin: 0;
    padding: 0;
    /* Se cambia el modelo de la página */
    box-sizing: border-box;
}

html{
    background-image: url("/imagen/isla-de-pascua.jpg") ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    /* imagen quede estática */
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Se adapta a cualquier tamaño de pantalla */
    font-size: 1.5em;
    /* Ocupe toda la pantalla */
    min-height: 100%;
}

body > *{
    box-shadow:-1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

body{
    /* proporciona una cuadrícula de una sola columna */    
    display: grid;
    /*Separación de los elementos */
    gap: 10px;
    /* Definir las áreas para un mismo diseño */
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "aside"
    "footer"
    ;
}

.header{
    grid-area: header;
    background-color: aqua;
}

.nav{
    grid-area: nav;
    background-color: crimson;
}

.section{
    grid-area: section;
    background-color: darkmagenta;
}

.aside{
    grid-area: aside;
    background-color: green;
}

.footer{
    grid-area: footer;
    background-color: olive;
}

/* PSEUDOELEMENTO */
img{
    width: 100%;
}
img:hover{
    /* Desenfoque */
    /* filter: blur(50px); */
    /* Escala de grises */
    /* filter: grayscale(80%); */
    /* sepia --> + o - intensidad */
    /* filter: sepia(60%); */
    /* filter: saturate(180%); */
    filter: opacity(.5);
}

/* PSEUSOCODIGO: es una palabra clave que se añade a los selectores y que especifica un estado especial del elemento seleccionado. */

/* TAMAÑO TABLET */
@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        "footer footer"
        ;
    }
}

/* TAMAÑO DESKTOP */
@media (min-width:900px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "header header header"
        "nav section aside"
        "footer footer footer"
        ;
    }
}
